@import url(http://fonts.googleapis.com/css?family=Roboto+Mono:400,300,500);

$sm-width: 768px;
$md-width: 992px;
$lg-width: 1200px;

body, html {
  background-color: #e9eaed;
  height: 100%;
}

.card-text {
  background-color: #FFF;
  margin-bottom: 0px;
}

.container {
  margin: auto;
  margin-bottom: 8px;

  @media(min-width: $sm-width) and (max-width: $md-width - 1) {
    width: 750px;
  }

  @media(min-width: $md-width) and (max-width: $lg-width - 1) {
    width: 970px;
  }

  @media(min-width: $lg-width) {
    width: 1170px;
  }
}

@mixin border-top-radius($radius) {
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin border-bottom-radius($radius) {
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin card-corners() {
  border-radius: 2px;
}

@mixin card-images() {
  @include border-top-radius(2px);
}

@mixin card-text() {
  @include border-bottom-radius(2px);
}

.subtitle-wrap {
  margin-top: 7px;
  margin-bottom: 7px;
}

.card-corners {
  @include card-corners();
}

.card-image {
  @include card-images();
}

.card-text {
  @include card-text();

  h2 {
    margin: 8px 0 0 0;
  }

  p {
    margin: 16px 0 0 0;
  }
}

.card-header {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 34px;
  margin: 0;
}

#titleNav {
  z-index: 100;
  height: 64px;
  font-size: 24px;
  line-height: 24px;
  box-shadow: rgba(0, 0, 0, 0.137255) 0px 0px 4px 0px, rgba(0, 0, 0, 0.278431) 0px 4px 8px 0px;
  
  a:-webkit-any-link {
    color: inherit;
    text-decoration: none;
    cursor: auto;
  }

  button.md-button {
    min-height: 48px;
    max-height: 48px;
    min-width: 48px;
    max-width: 48px;
    left: 12px;
    top: 8px;
    margin: 0;
    margin-right: 6px;
    padding: 0;
  }
}

#sideNav {
  top: 64px;
  overflow-y: hidden;

  #navLinks {
    list-style-type: none;
    padding: 0;

    .navLink {
      max-height: 48px;
      
      a {
        height: 40px;
        text-align: left;
        text-transform: none;
        line-height: 40px;
        display:table;
        width: 100%;
        padding: 0;

        span {
          text-align: left;
          display:table-cell;
          padding: 0 16px;
        }
      }
    }

    .navLink.active {
      background-color: #E1E1E1;
    }

    .navLink > * {
      display: block;
    }
  } 
}

#menu-icon-wrapper {
  font-size: 10px;
  line-height: 10px;
  max-height: 48px;
  max-width: 48px;
  min-height: 48px;
  padding: 12px 0px;

  svg {


    rect {
      fill: #E6E8F7;
    }
  }
}

#about {
  h2 {
    color: rgb(33, 150, 243);
    font-weight: normal;
  }
}

#developer {
  h2 {
    font-weight: normal;
  }
}

#longboard {
  h2 {
    font-weight: normal;
  }
}

#comics {
  h2 {
    font-weight: normal;
  }
}

#contact-info { 
  .md-button {
    min-width: 0px;
    margin: 0;
  }
  ul {
    padding-left: 0px;
  }
  a {
    color: #448AFF;
  }
}

.projects {
  background-color: #e9eaed;
  height: 100%;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 8px;

  @media (min-width: 960px) {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 600px) {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .proj-wrapper {
    height: 300px;
    width: 100%;
    border-radius: 2px;
    overflow: hidden;
    margin: 0px 4px 8px;

    .proj-img {
      position: relative;
      height: 100%;
      background-size: cover;
      background-position: 50% 0%;
      border-radius: 2px;

      .proj-name {
        position: absolute;
        margin: 16px 8px;
        bottom: 0;

        font-family: 'Roboto Mono';
        color: #FFF;
      }

      .overlay {
        width: 100%;
        height: 100%;
      }
    }

    /** I should refactor this to mobile-first */
    .proj-img:hover {
      .overlay {
        display:block;
        background-color: rgba(0,0,0,0.14);
      }

      @media (max-width: 959px) {
        background-color: rgba(0,0,0,0);
      }
    }

    /** No seriously, refactor that shit to mobile-first^ */

    .proj-btns {
      color: #FFF;
      font-size: 48px;
      height: 48px;
      float: right;

      .proj-icon-target {
        display: inline-block;
        width: 48px;

        md-icon {
          color: inherit;
        }

        &.md-icon-info:hover {
          color: #82B1FF;
        }

        &.md-icon-github:hover {
          color: rgba(0,0,0,1);
        }

        &.md-icon-demo:hover {
          color: #82B1FF;
        }
      }

    }
  }
  
  .proj-row {
    padding: 0px 8px;
  }


}