$sm-width: 768px;
$md-width: 992px;
$lg-width: 1200px;

body, html {
  background-color: #e9eaed;
}

.card-text {
  background-color: #FFF;
  margin-bottom: 0px;
}

.container {
  margin: auto;
  margin-bottom: 8px;

  @media(min-width: $sm-width) and (max-width: $md-width - 1) {
    width: 750px;
  }

  @media(min-width: $md-width) and (max-width: $lg-width - 1) {
    width: 970px;
  }

  @media(min-width: $lg-width) {
    width: 1170px;
  }
}

@mixin border-top-radius($radius) {
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin border-bottom-radius($radius) {
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin card-corners() {
  border-radius: 2px;
}

@mixin card-images() {
  @include border-top-radius(2px);
}

@mixin card-text() {
  @include border-bottom-radius(2px);
}

.subtitle-wrap {
  margin-top: 7px;
  margin-bottom: 7px;
}

.card-corners {
  @include card-corners();
}

.card-image {
  @include card-images();
}

.card-text {
  @include card-text();
}

.card-header {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 34px;
  margin: 0;
}

#titleNav {
  z-index: 100;

  a:-webkit-any-link {
    color: inherit;
    text-decoration: none;
    cursor: auto;
  }

  button.md-button {
    padding: 0 6px;
  }
}

#sideNav {
  top: 64px;
  overflow-y: hidden;
  // background-color: #efefef;

  #navLinks {
    list-style-type: none;
    padding: 0;
    margin: 0;

    .navLink {
      max-height: 48px;
      
      a {
        height: 40px;
        text-align: left;
        line-height: 40px;
        display:table;
        width: 100%;

        span {
          text-align: left;
          display:table-cell;
        }
      }

    }

    .navLink > * {
      display: block;
    }
  } 
}

#menu-icon-wrapper {
  font-size: 10px;
  max-height: 64px;
  max-width: 64px;

  svg {
    padding: 1.6em 0.8em 1.6em 1.6em;
    margin-top: 0.5em;

    rect {
      fill: #E6E8F7;
    }
  }
}

#about {
  h2 {
    color: rgb(33, 150, 243);
    font-weight: normal;
  }
}

#developer {
  h2 {
    font-weight: normal;
  }
}

#longboard {
  h2 {
    font-weight: normal;
  }
}

#comics {
  h2 {
    font-weight: normal;
  }
}

#contact-info { 

  ul {
    padding-left: 0px;
  }
  a {
    color: #448AFF;
  }
}

