<div id="menu-icon-wrapper" ng-click="toggleSideMenu()">

<svg id='mysvg' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="24 24 24 24">
  <path d="M0 0h24v24h-24z" fill="none" />

  <rect style="fill:#fff;" width="18" height="2" x="27" y="35">
    <animateTransform class='to-arrow' attributeName="transform" begin="indefinite" dur="300ms" calcMode="spline" keySplines="0.4, 0, 0.2, 1" type="rotate" from="0 36 36" to="180 36 36" repeatCount="infinite" fill="freeze" />
    
    <animateTransform class='from-arrow' attributeName="transform" begin="indefinite" dur="300ms" calcMode="spline" keySplines="0.4, 0, 0.2, 1" type="rotate" from="180 36 36" to="360 44 44" repeatCount="infinite" fill="freeze" />
  </rect>

  <rect style="fill:#fff;" width="18" height="2" x="27" y="30">
    <animateTransform class='to-arrow' attributeName="transform" begin="indefinite" dur="300ms" calcMode="spline" keySplines="0.4, 0, 0.2, 1" type="rotate" from="0 36 36" to="225 32 35" repeatCount="infinite" fill="freeze" additive="sum" />
    <animateTransform class='to-arrow' attributeName="transform" begin="indefinite" dur="300ms" calcMode="spline" keySplines="0.4, 0, 0.2, 1" type="scale" from="1 1" to=".7 1" repeatCount="infinite" fill="freeze" additive="sum" />
    <animateTransform class='to-arrow' attributeName="transform" begin="indefinite" dur="300ms" calcMode="spline" keySplines="0.4, 0, 0.2, 1" type="translate" from="0 0" to="6 -1" repeatCount="infinite" fill="freeze" additive="sum" />
    
    <animateTransform class='from-arrow' attributeName="transform" begin="indefinite" dur="300ms" calcMode="spline" keySplines="0.4, 0, 0.2, 1" type="rotate" from="225 32 35" to="360 36 36" repeatCount="infinite" fill="freeze" />
    <animateTransform class='from-arrow' attributeName="transform" begin="indefinite" dur="300ms" calcMode="spline" keySplines="0.4, 0, 0.2, 1" type="scale" from=".7 1" to="1 1" repeatCount="infinite" fill="freeze" additive="sum" />
    <animateTransform class='from-arrow' attributeName="transform" begin="indefinite" dur="300ms" calcMode="spline" keySplines="0.4, 0, 0.2, 1" type="translate" from="6 -1" to="0 0" repeatCount="infinite" fill="freeze" additive="sum" />
  </rect>

  <rect style="fill:#fff;" width="18" height="2" x="27" y="40">
    <animateTransform class='to-arrow' attributeName="transform" begin="infinite" dur="300ms" calcMode="spline" keySplines="0.4, 0, 0.2, 1" type="rotate" from="0 36 36" to="135 32 37" repeatCount="infinite" fill="freeze"  additive="sum" />
    <animateTransform class='to-arrow' attributeName="transform" begin="infinite" dur="300ms" calcMode="spline" keySplines="0.4, 0, 0.2, 1" type="scale" from="1 1" to=".7 1" repeatCount="infinite" fill="freeze" additive="sum" />
    <animateTransform class='to-arrow' attributeName="transform" begin="infinite" dur="300ms" calcMode="spline" keySplines="0.4, 0, 0.2, 1" type="translate" from="0 0" to="6 1" repeatCount="infinite" fill="freeze" additive="sum" />
    
    <animateTransform class='from-arrow' attributeName="transform" begin="infinite" dur="300ms" calcMode="spline" keySplines="0.4, 0, .2, 1" type="rotate" from="135 32 37" to="360 36 36" repeatCount="infinite" fill="freeze"  />
    <animateTransform class='from-arrow' attributeName="transform" begin="infinite" dur="300ms" calcMode="spline" keySplines="0.4, 0, 0.2, 1" type="scale" from=".7 1" to="1 1" repeatCount="infinite" fill="freeze" additive="sum" />
    <animateTransform class='from-arrow' attributeName="transform" begin="infinite" dur="300ms" calcMode="spline" keySplines="0.4, 0, 0.2, 1" type="translate" from="6 1" to="0 0" repeatCount="infinite" fill="freeze" additive="sum" />
  </rect>

</svg>

</div>

<script type="text/javascript-lazy" src="/public/js/menu-to-arrow.js"></script>