<md-toolbar id="titleNav" layout="row">
  <md-button aria-label="Open side navigation"><div ng-include src="'/views/partials/menu-to-arrow.html'"></div></md-button>
  <a href="/"><h1 class="md-toolbar-tools" md-scroll-shrink>{{pageTitle}}</h1></a>
</md-toolbar>

<md-sidenav id="sideNav" flex class="md-sidenav-left md-whiteframe-z2" md-component-id="sideNav">
  <md-content>
    <md-list id="navLinks">
      <md-list-item ng-repeat="navLink in navLinks" ng-click="navigateTo(navLink.url)">
          <md-icon md-svg-icon="{{navLink.icon}}"></md-icon>
          <p class="md-body-2">{{navLink.name}}</p>
          <md-checkbox class="md-secondary" style="display:none"></md-checkbox>
      </md-list-item>
    </md-list>
  </md-content>
</md-sidenav>

<script type="text/javascript" src="/public/js/menu-to-arrow.js"></script>