<md-toolbar id="titleNav" layout="row">
  <h2 class="md-toolbar-tools" md-scroll-shrink>Alfred Ababio</h2>
</md-toolbar>

<md-sidenav id="sideNav" class="md-sidenav-left md-whiteframe-z2" md-component-id="sideNav">

</md-sidenav>