@import url(http://fonts.googleapis.com/css?family=Roboto+Mono:400,300,500);
body, html {
  background-color: #e9eaed;
  height: 100%; }

.card-text {
  background-color: #FFF;
  margin-bottom: 0px; }

.container {
  margin: auto;
  margin-bottom: 8px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.subtitle-wrap {
  margin-top: 7px;
  margin-bottom: 7px; }

.card-corners {
  border-radius: 2px; }

.card-image {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px; }

.card-text {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px; }
  .card-text h2 {
    margin: 8px 0 0 0; }
  .card-text p {
    margin: 16px 0 0 0; }

.card-header {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 34px;
  margin: 0; }

#titleNav {
  z-index: 100;
  height: 64px;
  font-size: 24px;
  line-height: 24px;
  box-shadow: rgba(0, 0, 0, 0.137255) 0px 0px 4px 0px, rgba(0, 0, 0, 0.278431) 0px 4px 8px 0px; }
  #titleNav a:-webkit-any-link {
    color: inherit;
    text-decoration: none;
    cursor: auto; }
  #titleNav button.md-button {
    min-height: 48px;
    max-height: 48px;
    min-width: 48px;
    max-width: 48px;
    left: 12px;
    top: 8px;
    margin: 0;
    margin-right: 6px;
    padding: 0; }

#sideNav {
  top: 64px;
  overflow-y: hidden; }
  #sideNav #navLinks {
    list-style-type: none;
    padding: 0; }
    #sideNav #navLinks .navLink {
      max-height: 48px; }
      #sideNav #navLinks .navLink a {
        height: 40px;
        text-align: left;
        text-transform: none;
        line-height: 40px;
        display: table;
        width: 100%;
        padding: 0; }
        #sideNav #navLinks .navLink a span {
          text-align: left;
          display: table-cell;
          padding: 0 16px; }
    #sideNav #navLinks .navLink.active {
      background-color: #E1E1E1; }
    #sideNav #navLinks .navLink > * {
      display: block; }

#menu-icon-wrapper {
  font-size: 10px;
  line-height: 10px;
  max-height: 48px;
  max-width: 48px;
  min-height: 48px;
  padding: 12px 0px; }
  #menu-icon-wrapper svg rect {
    fill: #E6E8F7; }

#about h2 {
  color: #2196f3;
  font-weight: normal; }

#developer h2 {
  font-weight: normal; }

#longboard h2 {
  font-weight: normal; }

#comics h2 {
  font-weight: normal; }

#contact-info .md-button {
  min-width: 0px;
  margin: 0; }
#contact-info ul {
  padding-left: 0px; }
#contact-info a {
  color: #448AFF; }

.projects {
  background-color: #e9eaed;
  height: 100%;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 8px; }
  @media (min-width: 960px) {
    .projects {
      width: 75%;
      margin-left: auto;
      margin-right: auto; } }
  @media (min-width: 600px) {
    .projects {
      margin-top: 32px;
      margin-bottom: 32px; } }
  .projects .proj-wrapper {
    height: 300px;
    width: 100%;
    border-radius: 2px;
    overflow: hidden;
    margin: 0px 4px 8px; }
    .projects .proj-wrapper .proj-img {
      position: relative;
      height: 100%;
      background-size: cover;
      background-position: 50% 0%;
      border-radius: 2px; }
      .projects .proj-wrapper .proj-img .overlay {
        background-color: rgba(0, 0, 0, 0.14);
        width: 100%;
        height: 100%; }
      .projects .proj-wrapper .proj-img .proj-name {
        position: absolute;
        margin: 16px 8px;
        bottom: 0;
        font-family: 'Roboto Mono';
        color: #FFF; }
    .projects .proj-wrapper .proj-img:hover .overlay {
      display: block; }
    .projects .proj-wrapper .proj-btns {
      color: #FFF;
      font-size: 48px;
      height: 48px;
      float: right;
      margin-right: 8px; }
      .projects .proj-wrapper .proj-btns .proj-icon-target {
        display: inline-block;
        width: 48px; }
        .projects .proj-wrapper .proj-btns .proj-icon-target md-icon {
          color: inherit; }
        .projects .proj-wrapper .proj-btns .proj-icon-target .md-icon-info:hover {
          color: #82B1FF; }
        .projects .proj-wrapper .proj-btns .proj-icon-target .md-icon-github:hover {
          color: black; }
        .projects .proj-wrapper .proj-btns .proj-icon-target .md-icon-demo:hover {
          color: #82B1FF; }
  .projects .proj-row {
    padding: 0px 8px; }
