<div class="projects" ng-controller="ProjectsCtrl">
  <div class="proj-row" layout-gt-sm="row" layout-align="center center" layout="row" layout-sm="column">
    <div class="proj-wrapper" ng-repeat="(name, proj) in allProjects" ng-if="$index < 2">
      <div class="proj-img" proj-img="{{proj.screenshot}}">
        <div class="overlay">
          <div class="proj-btns">
            <md-button class="md-icon-button proj-icon-target {{proj.repository === '' ? 'md-icon-info' : 'md-icon-github'}}" href="{{proj.repository !== '' ? proj.repository : ''}}" aria-label="{{proj.repository === '' ? 'Click for more info' : 'Check out some code'}}" >
              <md-tooltip>{{proj.repository === '' ? 'Info' : 'Github'}}</md-tooltip>
              <md-icon md-svg-icon="{{proj.repository === '' ? 'info' : 'github'}}"></md-icon>
            </md-button>
            <md-button class="md-icon-button proj-icon-target md-icon-demo" href="{{proj.demoLink}}" aria-label="Go to Demo" >
              <md-tooltip>Go to Demo</md-tooltip>
              <md-icon md-svg-icon="demo"></md-icon>
            </md-button>
          </div>
          <p class="md-display-1 proj-name">{{proj.name}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="proj-row" layout-gt-sm="row" layout-align="center center" layout="row" layout-sm="column">
    <div class="proj-wrapper" ng-repeat="(name, proj) in allProjects" ng-if="$index === 2 || $index === 3 ">
      <div class="proj-img" proj-img="{{proj.screenshot}}">
        <div class="overlay">
          <div class="proj-btns">
            <md-button class="md-icon-button proj-icon-target {{proj.repository === '' ? 'md-icon-info' : 'md-icon-github'}}" href="{{proj.repository !== '' ? proj.repository : ''}}" aria-label="{{proj.repository === '' ? 'Click for more info' : 'Check out some code'}}" >
              <md-tooltip>{{proj.repository === '' ? 'Info' : 'Github'}}</md-tooltip>
              <md-icon md-svg-icon="{{proj.repository === '' ? 'info' : 'github'}}"></md-icon>
            </md-button>
            <md-button class="md-icon-button proj-icon-target md-icon-demo" href="{{proj.demoLink}}" aria-label="Go to Demo" >
              <md-tooltip>Go to Demo</md-tooltip>
              <md-icon md-svg-icon="demo"></md-icon>
            </md-button>
          </div>
          <p class="md-display-1 proj-name">{{proj.name}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="proj-row" layout-gt-sm="row" layout-align="center center" layout="row" layout-sm="column">
    <div class="proj-wrapper" ng-repeat="(name, proj) in allProjects" ng-if="$index > 3">
      <div class="proj-img" proj-img="{{proj.screenshot}}">
        <div class="overlay">
          <div class="proj-btns">
            <md-button class="md-icon-button proj-icon-target {{proj.repository === '' ? 'md-icon-info' : 'md-icon-github'}}" href="{{proj.repository !== '' ? proj.repository : ''}}" aria-label="{{proj.repository === '' ? 'Click for more info' : 'Check out some code'}}">
              <md-tooltip>{{proj.repository === '' ? 'Info' : 'Github'}}</md-tooltip>
              <md-icon md-svg-icon="{{proj.repository === '' ? 'info' : 'github'}}"></md-icon>
            </md-button>
            <md-button class="md-icon-button proj-icon-target md-icon-demo" href="{{proj.demoLink}}" aria-label="Go to Demo">
              <md-tooltip>Go to Demo</md-tooltip>
              <md-icon md-svg-icon="demo"></md-icon>
            </md-button>
          </div>
          <p class="md-display-1 proj-name">{{proj.name}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
