<div class="projects" ng-controller="ProjectsCtrl">
  <div layout="row">

    <div class="gallery" layout="column" layout-padding hide show-gt-sm flex-gt-sm="25" flex-gt-md="40">
      <md-grid-list md-cols-gt-sm="1" md-cols-gt-md="2" md-gutter="8px" md-row-height="4:5">
        <md-grid-tile class="card-tile thumbnail">
          <div class="proj-wrapper">
            <div class="proj-img"></div>
            <div class="proj-btns">
              <md-button href="" target="_blank" aria-label="Github">
                <md-icon md-svg-icon="github"></md-icon>
              </md-button>
              <md-button href="" target="_blank" aria-label="Demo">
                <md-icon md-svg-icon="demo"></md-icon>
              </md-button>
            </div>
          </div>
        </md-grid-tile>
        <md-grid-tile class="card-tile thumbnail">
          <div class="proj-wrapper">
            <div class="proj-img"></div>
            <div class="proj-btns">
              <md-button href="" target="_blank" aria-label="Github">
                <md-icon md-svg-icon="github"></md-icon>
              </md-button>
              <md-button href="" target="_blank" aria-label="Demo">
                <md-icon md-svg-icon="demo"></md-icon>
              </md-button>
            </div>
          </div>
        </md-grid-tile>
        <md-grid-tile class="card-tile thumbnail">
          <div class="proj-wrapper">
            <div class="proj-img"></div>
            <div class="proj-btns">
              <md-button href="" target="_blank" aria-label="Github">
                <md-icon md-svg-icon="github"></md-icon>
              </md-button>
              <md-button href="" target="_blank" aria-label="Demo">
                <md-icon md-svg-icon="demo"></md-icon>
              </md-button>
            </div>
          </div>
        </md-grid-tile>
        <md-grid-tile class="card-tile thumbnail">
          <div class="proj-wrapper">
            <div class="proj-img"></div>
            <div class="proj-btns">
              <md-button href="" target="_blank" aria-label="Github">
                <md-icon md-svg-icon="github"></md-icon>
              </md-button>
              <md-button href="" target="_blank" aria-label="Demo">
                <md-icon md-svg-icon="demo"></md-icon>
              </md-button>
            </div>
          </div>
        </md-grid-tile>
        <md-grid-tile class="card-tile thumbnail">
          <div class="proj-wrapper">
            <div class="proj-img"></div>
            <div class="proj-btns">
              <md-button href="" target="_blank" aria-label="Github">
                <md-icon md-svg-icon="github"></md-icon>
              </md-button>
              <md-button href="" target="_blank" aria-label="Demo">
                <md-icon md-svg-icon="demo"></md-icon>
              </md-button>
            </div>
          </div>
        </md-grid-tile>
        <md-grid-tile class="grid-tile thumbnail">
          <div class="proj-wrapper">
            <div class="proj-img"></div>
            <div class="proj-btns">
              <md-button href="" target="_blank" aria-label="Github">
                <md-icon md-svg-icon="github"></md-icon>
              </md-button>
              <md-button href="" target="_blank" aria-label="Demo">
                <md-icon md-svg-icon="demo"></md-icon>
              </md-button>
            </div>
          </div>
        </md-grid-tile>
      </md-grid-list>
    </div>

    <div class="preview" layout="column" flex-gt-sm="75" flex-gt-md="60">
      <h1>{{activePreview.name}}</h1>
    </div>
  </div>
</div>
