$sm-width: 768px;
$md-width: 992px;
$lg-width: 1200px;

body, html {
  background-color: #e9eaed;
}

.card-text {
  background-color: #FFF;
  margin-bottom: 0px;
}

.container {
  margin: auto;

  @media(min-width: $sm-width) and (max-width: $md-width - 1) {
    width: 750px;
  }

  @media(min-width: $md-width) and (max-width: $lg-width - 1) {
    width: 970px;
  }

  @media(min-width: $lg-width) {
    width: 1170px;
  }
}

@mixin border-top-radius($radius) {
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin border-bottom-radius($radius) {
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin card-corners() {
  border-radius: 2px;
}

@mixin card-images() {
  @include border-top-radius(2px);
}

@mixin card-text() {
  @include border-bottom-radius(2px);
}

.subtitle-wrap {
  margin-top: 7px;
  margin-bottom: 7px;
}

.card-corners {
  @include card-corners();
}

.card-image {
  @include card-images();
}

.card-text {
  @include card-text();

  h2 {
    margin-bottom: 0px;
    font-weight: normal;
    color: rgb(33, 150, 243);
  }

  p {
    margin: 0px;
    white-space: pre-line;
  }
}

.card-header {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 34px;
  margin: 0;
}

.card-left-image {
  border-right: 1px solid #EFEFEF;
  max-height: 220px;
  width: auto;
}

#contact-info { 
  padding: 0;


  ul {
    list-style-type: none;
    padding:0;
    margin:0;
    text-align: center;
  }
  a {
    padding: 1em;
    color: #448AFF;
  }
}


